<div class="bar bar-header login-header" align-title="center">
    <button class="white button button-icon icon ion-ios-arrow-back icon-left assertive" ng-click="back()"></button>
    <h2 class="white title">设置密码</h2>
</div>
<ion-content class="loginBg">
    <div style="margin-top: 5rem;" class="list list-inset">
        <div class="item item-input login-input">
            <span class="label-pwd">输入密码：</span>
            <input id="firstPwd" type="password" placeholder="请输入6~12位英文或数字密码" />
            <button id="firstPwdBtn" ng-click="clearValue('firstPwd')" class="input-close-button button icon ion-ios-close icon-right stable" ></button>
        </div>
        <p></p>
    </div>
    <div class="list list-inset">
        <div class="item item-input login-input">
            <span class="label-pwd">确认密码：</span>
            <input style="background:none;" id="secondPwd" type="password" placeholder="请输入确认密码" disabled/>
            <button  id="secondPwdBtn" ng-click="clearValue('secondPwd')" class="input-close-button button icon ion-ios-close icon-right stable" ></button>
        </div>
        <p></p>
    </div>
    <div class="list list-inset">
        <button id="regBtn" class="button button-balanced button-block login-button" disabled>注册</button>
    </div>
    <div id="notEqual" class="order-modal reg regTel">
        <p>两次输入密码不一致</p>
    </div>
    <div id="regSucc" class="order-modal reg regTel">
        <p>注册成功</p>
    </div>
</ion-content>