<div  align-title="left" class="bar bar-header item-input-inset">
    <button  class="button button-icon ion-ios-arrow-back" ng-click="back()"></button>
    <!--<h2 class="title">商品列表</h2>-->
    <div class="item-input-wrapper main-search">
        <input  id="sit" type="text" ng-model="inputObj.kw" placeholder="搜索书名或书详情..." autofocus>
        <i class="icon ion-search form-icon"></i>
    </div>
    <button class="button  icon-right button-clear" ng-click="back()">取消</button>
</div>
<ion-content class="has-header  body-background">
    <div class="hot-search" ng-if="hotSearch">
        <p>热门搜索</p>
        <ul>
            <li ng-repeat="tmp in hotlist"><a ui-sref="detail({id:{{tmp.bid}}})">{{tmp.name}}</a></li>
        </ul>
    </div>
    <div class="list">
        <a ui-sref="detail({id:{{tmp.bid}}})" class="item item-thumbnail-left product-list" ng-repeat="tmp in searchList">
            <img ng-src="img/{{tmp.img_sm}}"/>
            <h2 class="book-title">{{tmp.name}}</h2>
            <p class="book-content">作者：<span>{{tmp.author}}</span></p>
            <p class="book-content">出版社：<span>{{tmp.publish}}</span></p>
            <p class="book-content">
                <span class="icon ion-ios-star assertive star" ng-if="tmp.star>0"></span>
                <span class="icon ion-ios-star assertive star" ng-if="tmp.star>1"></span>
                <span class="icon ion-ios-star assertive star" ng-if="tmp.star>2"></span>
                <span class="icon ion-ios-star assertive star" ng-if="tmp.star>3"></span>
                <span class="icon ion-ios-star assertive star" ng-if="tmp.star>4"></span>
                <span>{{tmp.comment}}</span>条评论
            </p>
            <b class="assertive">¥<span>{{tmp.price}}</span></b>
        </a>
    </div>
</ion-content>